{% extends 'base.html.twig' %}

{% block title %}
	A propos
{% endblock %}

{% block body %}
	<main class="container_about">
		<div class="border_line">
			<div class="thiner_line">
				<h1 class="title_about">A propos d'Eclats D'Autrefois</h1>

				<p class="paragraph_about">
					<span>L</span>e site est en cours de développement. Matthieu aime sucer des grosses teubs. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ipsum et, assumenda repellendus voluptates tempore doloremque maiores reprehenderit ullam nisi eaque molestias iusto id quo pariatur at alias commodi placeat.</p>

				<p class="paragraph_about">
					<span>L</span>orem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quidem, fuga error minus temporibus rem inventore illo mollitia distinctio eum facere nam pariatur iure ea, ratione blanditiis libero obcaecati tempore?</p>
			</div>
		</div>
	</main>
{% endblock %}
