{% extends 'base.html.twig' %}

{% block title %}
	Accueil - Eclats D'Autrefois - Antiquités

{% endblock %}


{% block body %}
	<main class="container">
		<h1>Accueil - Eclats D'Autrefois</h1>
		<div class="presentation_ea">
			<p>
				<b>Des beautés antiques soigneusement chinées.
									Lucie, spécialiste passionnée, vous narre l'histoire de ces objets du passé.
																			Suivez-moi sur Instagram
					<a class="link_instagram_official" href="https://www.instagram.com/eclatsdautrefois/?hl=fr">@eclatsdautrefois!</a>
				</b>
			</p>
		</div>

	</main>

{% endblock %}
