<header>
	<nav>
		<div class="logos">
			<div href="{{ path('app_home') }}">
				<img src="{{ asset('images/logoeclatsdautrefois1.jpg') }}" alt="logo du site Eclats d'Autrefois" class="logo">
			</div>
		</div>
		<div class="topline"></div>
		<div class="menu">
			<ul>
				<li>
					<a href="{{ path('app_home') }}" class="menu-link">Accueil</a>
				</li>
				<li>
					<a href="{{ path('app_apropos') }}" class="menu-link">A Propos</a>
				</li>
				<div class="dropdown">
					<li class="nav-dropdown">
						<a href="#" class="menu-link">Nos Produits</a>
						<ul class="nav-dropdown-content">
							<div class="dropdown-content">
								<li class="annee_produits">
									<a class="categories_title" href="#">XVIIIème Siècle</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">XIXème siècle</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">1900-1910</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">1920</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">1930</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">1940</a>
								</li>
								<li class="annee_produits">
									<a class="categories_title" href="#">1950 et plus</a>
								</li>
							</div>
						</ul>
					</li>
				</div>
				<li>
					<a href="#" class="menu-link">Nous Contacter</a>
				</li>
				<li>
					<a href="#" class="menu-link">Mon Compte</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
